.login-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}
.login-icon {
  font-size: 48px;
  color: #16a34a;
  margin-bottom: 1rem;
}
.login-card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-header h2 {
  margin: 1rem 0 0.5rem 0;
}

.login-header p {
  color: #666;
}

.login-icon {
  font-size: 48px;
  color: #16a34a;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.form-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s ease;
}

.form-group input:focus {
  outline: none;
  border-color: #16a34a;           /* verde */
  box-shadow: 0 0 0 2px rgba(22, 163, 74, 0.2); /* efecto glow */
}

.forgot-password {
  text-align: center;
  margin-bottom: 1rem;
}

.forgot-password button {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

.forgot-password button:hover {
  color: #000;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  background-color: #15803d;
}

