:root {
  /* Palette requested: predominant greens, yellow, orange, rare celeste */
  --primary: #094b21; /* #0c5f2b; */
  /* Green 700 - Main Brand Color */
  --primary-light: #2cc463;
  /* Green 500 - Lighter for highlights */
  --primary-hover: #14532d;
  /* Green 900 - Hover state */

  --accent-orange: #f97316;
  /* Orange 500 - Secondary/Actions */
  --accent-yellow: #facc15;
  /* Yellow 400 - Highlights/Accents */

  --rare-celeste: #38bdf8;
  /* Sky 400 - Few instances */

  --background: #fafafa /* #fcfdfa */;
  /* Very slight warm/natural tint */
  --surface: #ffffff;

  --orange: #f28c28; /* rgb(231, 184, 97); */
  --orange-houver: #db7d1f;
  /* Orange 300 - For banners or special sections */

  --text-main: #1e293b;
  /* Slate 800 */
  --text-muted: #64748b;
  /* Slate 500 */
  --border: #e2e8f0;
  --paleta: #c8e6c9;

  --success: #16a34a;
  --warning: #f59e0b;
  --danger: #ef4444;
  --a: #666;

  --radius: 12px;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --transition: all 0.2s ease-in-out;
  width: 100%;
}

body,
html {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: var(--);
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
 /*  scroll-behavior: auto; */
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.delivery-info {
  width: 100%; /* Al ocupar el 100%, obliga a los demás a quedarse arriba */
  /* text-align: center; /* Opcional: para centrar el texto abajo */
  display: flex;
  justify-content: center;
  align-items: center;
  /* order: 10; */ /* Asegura que siempre sea el último elemento */
  background-color: var(--orange);
  top: 0;
  border: var(--background);
  color: var(--primary);
  height: 35px;
  /*  border-left: 4px solid var(--accent-yellow); */
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

/* MENU BUTTON */
.menu-btn {
  font-size: 20px;
  background: none;
  font-weight: bold;
  border: none;
  color: var(--primary-hover);
  cursor: pointer;
}

/* MAIN */
.main {
  padding: 0px;
  flex: 1;
}
@media (max-width: 768px) {
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 9999;
  }
}
