.table {
  width: "100%";
  border-collapse: "collapse";
  table-layout: "fixed";
}
.product-column {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td {
  padding: 2px 10px;
}

.table img {
  width: 50px;
  height: 50px;
  object-fit: "contain";
  /*  border: "1px solid #ddd"; */
  border-radius: 8px;
  display: "block";
  margin: 1px 7px;
}
.filters .MuiOutlinedInput-root{
  border-radius: 12px;
}
