.products-grid {
  display: grid;
 grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 14px;
  justify-content: start;
}
.page-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
  /* margin-left: 3rem; */
  color: var(--primary);
  /* Title in Green */
  letter-spacing: -0.025em;
}

/* tablet */
@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* mobile */
@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}