.header {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  padding: 0px 0px 17px 0px;
  background: var(--primary); /* #1b5e20 */ /* #2e7d32 */
  color: var(--background); 
  flex-wrap: wrap; /* Permite que los elementos salten de línea */
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;

}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  height: 50px !important;
  padding: 0px 40px 0px 10px;
  white-space: nowrap;
}

.logo-img {
  height: 70px;
  width: auto;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 850px;
  flex: 1;
  margin-right: auto;
  align-items: center;
}

.search {
  /* margin-right: auto; /* EMPUJA el espacio sobrante a la derecha */
  flex: none;
  width: 75%;
  /*padding: 10px 38px 10px 12px; /* espacio a la derecha */
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border: none;
  background: #f5f5f5;
  padding: 10px 40px 10px 12px;
  box-sizing: border-box; /* MUY IMPORTANTE */
}

.cart {
  cursor: pointer;
  margin-right: 55px;
  display: flex;
  align-items: center;
  gap: 12px; /* 👈 espacio entre el carrito y el nombre */
}

.whatsapp-notice {
  position: absolute;
  top: 100%;
  left: 44%;
  transform: translateX(-50%);
  margin-top: 4px;
  font-size: 14px;
  color: var(--background);
  font-weight: 600;
  white-space: nowrap;
  animation: floatNotice 2.5s ease-in-out infinite;
}

@keyframes floatNotice {
  0% {
    transform: translateX(-50%) translateY(0px);
    opacity: 0.8;
  }

  50% {
    transform: translateX(-50%) translateY(-2px);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(0px);
    opacity: 0.8;
  }
}

@media (max-width: 768px) {
  .logo-container {
    margin-top: 5px;
  }
  .search-container {
    display: flex;
    align-items: center;
    gap: 0;
    margin: 0 6px;
    width: calc(100% - 12px);
    box-sizing: border-box;
  }

  .search {
    flex: 1;
    min-width: 0;
    border-right: none;
    border-radius: 12px 0 0 12px;
    height: 38px;
  }

  .search-container button {
    flex-shrink: 0;
    margin-left: -2px;
    height: 38px;
     font-size: 10px;
  }

  .whatsapp-notice {
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
  }
}
